@import "mocha.css";

* {
    font-family: monospace;
    font-size: 12px;
    font-weight: bold;
    min-height: 0;
}

#waybar {
    background-color: @base;
}

/* Workspaces(left) */
#workspaces {
    margin: 0 4px;
    padding: 0 0.5rem;
}

#workspaces button {
    color: @blue;
    padding: 0 2px;
    border-radius: 50%;
}

#workspaces button.visible {
    color: @green;
    background-color: @surface0;
}

#workspaces button.active {
    color: @peach;
    background-color: @surface0;
}

#workspaces button.urgent {
    color: @red;
}

/* Window title(left) */
#window {
    color: @blue;
    margin: 0 4px;
    padding: 0 1rem;
    border-radius: 16px;
}

/* Clock(center) */
#clock {
    color: @base;
    background-color: @blue;
    margin: 0 8px;
    padding: 0 1rem;
    border-radius: 16px;
}

/* System info(right) */
#cpu,
#memory,
#network,
#battery,
#wireplumber,
#backlight {
    color: @blue;
    padding: 0 0.6rem;
}

#battery.warning:not(.charging) {
    color: @yellow;
}

#battery.critical:not(.charging) {
    color: @red;
}

/* Tray(right) */
#tray {
    color: @blue;
    margin: 0 4px;
    padding: 0 1rem;
}

/* Tooltip */
tooltip {
    background-color: @base;
    border-radius: 8px;
}

tooltip label{
    color: @blue;
}
