@import "mocha.css";

* {
    font-family: monospace;
    font-size: 12px;
    font-weight: bold;
    min-height: 0;
}

#waybar {
    background-color: transparent;
}

/* Workspaces(left) */
#workspaces {
    background-color: @surface0;
    margin: 0 4px;
    padding: 0 0.5rem;
    border-radius: 16px;

    /* Leave a gap above and below the bar */
    margin-top: 4px;
    margin-bottom: 2px;
}

#workspaces button {
    color: @blue;
    padding: 0 4px;
    border-radius: 50%;
}

#workspaces button.empty {
    color: @overlay0;
}

#workspaces button.visible {
    color: @green;
    background-color: @surface1;
}

#workspaces button.active {
    color: @peach;
    background-color: @surface1;
}

#workspaces button.urgent {
    color: @red;
}

/* Window title(left) */
#window {
    color: @blue;
    background-color: @surface0;
    margin: 0 4px;
    padding: 0 1rem;
    border-radius: 16px;

    /* Leave a gap above and below the bar */
    margin-top: 4px;
    margin-bottom: 2px;
}

window#waybar.empty #window {
    background-color: transparent;
}

/* Clock(center) */
#clock {
    background-color: @surface0;
    color: @blue;
    margin: 0 8px;
    padding: 0 1rem;
    border-radius: 16px;

    /* Leave a gap above and below the bar */
    margin-top: 4px;
    margin-bottom: 2px;
}

/* System info(right) */
#cpu,
#memory,
#network,
#battery,
#wireplumber,
#backlight {
    background-color: @surface0;
    color: @blue;
    padding: 0 0.6rem;

    /* Leave a gap above and below the bar */
    margin-top: 4px;
    margin-bottom: 2px;
}

#battery.warning:not(.charging) {
    color: @yellow;
}

#battery.critical:not(.charging) {
    color: @red;
}

#cpu {
    margin-left: 4px;
    border-radius: 16px 0 0 16px;
    padding-left: 1rem;
}

#wireplumber {
    margin-right: 4px;
    border-radius: 0 16px 16px 0;
    padding-right: 1rem;
}

/* Tray(right) */
#tray {
    color: @blue;
    background-color: @surface0;
    margin: 0 4px;
    padding: 0 1rem;
    border-radius: 16px;

    /* Leave a gap above and below the bar */
    margin-top: 4px;
    margin-bottom: 2px;
}

/* Tooltip */
tooltip {
    background-color: @base;
    border-radius: 16px;
}

tooltip label{
    color: @lavender;
}
